*{
    padding: 0;
    margin: 0;
}

body{
    background: url('../images/starting\ background.webp');
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#play{
    position: absolute;
    top: 50vmin;
    left: 90vmin;
    background: none;
    color: rgb(134, 7, 159);
    font-size: 50px;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
}

